:root{
    --tipo-principal:'Roboto Mono', monospace;

}

body {
    font-family: var(--tipo-principal);
    background-color: rgb(216, 227, 231);
}

.boton {
    font-family: var(--tipo-principal);
    font-size: 20px;
    padding: 10px;
}

#color-btn {
    background-color: rgba(18, 109, 130, 0.562);
    color: white;
}